.edBroadbent {
    width: 100%;
    height: auto;
}

.about-subsection__title{
    background-color: white;
    font-size: 3rem;
    font-weight: 700;
    align-self: flex-start;
}


.about-subsection__p{
    border-left: 3px solid var(--color--primary);
    padding-top: 10px;
    padding-bottom: 6px;
    padding: 10px 27px 6px 18px;
    margin-top: 4px;
    margin-left: 14px;
    margin-bottom: 20px;
}

/* Modal Background Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Modal Container */
.modal-container-edBroadbent {
    position: relative;
    background: white;
    border-radius: 12px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);

    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 0.3s ease-in-out forwards;
}

/* Modal Image */
.modal-image {
    width: 100%;
    height: auto;
    max-width: 95vw;
    max-height: 85vh;
    border-radius: 10px;
    display: block;
}

/* Close Button */
.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.modal-close-button img {
    width: 30px;
    height: 30px;
}

