.edBroadbent {
    width: 100%;
    height: auto;
}

.about-subsection__title{
    background-color: white;
    font-size: 3rem;
    font-weight: 700;
    align-self: flex-start;
}


.about-subsection__p{
    border-left: 3px solid var(--color--primary);
    padding-top: 10px;
    padding-bottom: 6px;
    padding: 10px 27px 6px 18px;
    margin-top: 4px;
    margin-left: 14px;
    margin-bottom: 20px;
}

