.back-to-home-general{
    margin-top: 72px;
}

/** ICONS **/
.amenity-accessibility{
    background-image: url("/images/svgs/icons/accessibility-icon.svg");
}

.amenity-bike {
    background-image: url('/images/svgs/icons/bike-track-icon.svg');
}

.amenity-garden {
    background-image: url('/images/svgs/icons/garden-icon.svg');
}

.amenity-parking {
    background-image: url('/images/svgs/icons/parking-icon.svg');
}

.amenity-trail {
    background-image: url('/images/svgs/icons/recreational-trail-icon.svg');
}