.panorama-popup{
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 20, 68, 0.7);
    position: absolute;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panorama-popup__title{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 32px;
}

.panorama-popup__icon{
    width: 80px;
    height: 80px;
    /* margin-bottom: 44px; */
}

.panorama-popup__description{
    margin-top: 16px;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    max-width: 80%;
}

/** PHOTO SPHERE VIEWER **/
.psv-navbar{
    height: 80px !important;
    margin-bottom: 16px;
    background: none;
    /* background: var(--color--primary); */
}

.psv-gyroscope-button{
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--color--primary);
    margin-left: 16px;
    display: block !important;
}

.psv-button-svg > *{
    fill: #ffffff;
}

.psv-caption{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    flex: unset !important;
    margin-left: 24px;
}

.psv-caption-content *{
    color: white !important;
}

