/*** SWIPER ***/

.swiper{
    width: 100vw;
    height: 111px;
    margin-top: 17px;
}

.slider__image{
    width: 33vw;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.slider-internal{
    margin-top: 16px;
    margin-bottom: 24px;
}

.swiper-button-next{
    background-image: url("/Ed-Broadbent-Waterfront-Park/images/svgs/icons/arrow-up.svg") !important;
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 25px ;
    height: 25px;
}

.swiper-button-prev{
    background-image: url("/Ed-Broadbent-Waterfront-Park/images/svgs/icons/arrow-up.svg") !important;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 25px ;
    height: 25px;
    
}

.swiper-button-next::after{
    display: none;
}

.swiper-button-prev::after{
    display: none;
}