:root{
    --primary: #faa02a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

/** UTILITY **/
.u-flex-column{
    display: flex;
    flex-direction: column;
}

.u-flex-column-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-flex-column-justify-align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-content-width{
    margin: 0 5%;
}

/** HEADER **/
.nav{
    position: absolute;
    z-index: 999999;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.241);
    padding: 0.6rem 1rem;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__item, .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

