:root{
    --color--primary: #faa02a;
    --color--primary--highlight: #D38621;
    --color--secondary: #001444;
    --color--secondary--faded: #0f0b3869;
    --font-size--internal-title: 1.375rem;
    --font-size--medium: 1.5rem;
    --font-size--xsmall: 0.938rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color--secondary);
}

button{
    border: 0;
    font-family: "PT Sans", sans-serif;
}

.button-color-primary:active{
    background-color: var(--color--primary--highlight);
}

main {
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-size: var(--font-size--xsmall);
    line-height: 22px
}



/** UTILITY **/
.u-flex-column{
    display: flex;
    flex-direction: column;
}

.u-flex-column-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-flex-column-justify-align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-content-width{
    margin-left: 5%;
    margin-right: 5%;

}

/** HEADER **/
.nav{
    position: absolute;
    z-index: 999999;
    width: 100%;
    padding: 25px;
}

.nav__list{
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 51px;
}

.nav__burger{
    justify-self: flex-end;
}


.nav__image{
    width: 51px;
    height: 51px;
}

.nav__link{
    display: flex;
}

