:root {
    --color--primary: #faa02a;
    --color--primary--highlight: #D38621;
    --color--secondary: #001444;
    --color--secondary--faded: #0f0b3869;
    --font-size--internal-title: 1.375rem;
    --font-size--medium: 1.5rem;
    --font-size--xsmall: 0.938rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color--secondary);
    /* line-height: 22px; */
}

button {
    border: 0;
    font-family: "PT Sans", sans-serif;
}

.button-color-primary:active {
    background-color: var(--color--primary--highlight);
}

main {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: var(--font-size--xsmall);
    line-height: 22px;
}

/** UTILITY **/
.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-flex-column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-flex-column-justify-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-content-width {
    margin-left: 7%;
    margin-right: 7%;
}

/**** HEADER *******/
.nav {
    position: absolute;
    z-index: 999999;
    width: 100%;
    padding: 25px;
    pointer-events: none;

}

.nav__list {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
    height: 51px;
    
}

.nav__item{
    pointer-events: auto;
}

.nav__item--logo{
    margin-left: auto;
}

.nav__image {
    width: 51px;
    height: 51px;
    cursor: pointer;
    display: inline-block;
}

.nav__image--ar {
    margin-left: 16px;
}

.nav__image--back {
    rotate: 270deg;
}

.nav__link {
    display: flex;
}


/* Fade Animations */
.fade-in:nth-child(1) {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease-out;
}

.fade-in:nth-child(3) {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.hide {
    display: none;
    opacity: 0;
    pointer-events: none;
}

/* Close Icon Animations */
.close-icon {
    transition: transform 0.4s ease-in-out;
}

/* Moves close icon to the right when menu is open */
.move-right {
    right: 0;
}

/* Moves close icon back when menu is closed */
.move-back {
    transform: translateX(-51px);
}

/* Slide-in Menu */
.slide-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.97);

    z-index: 100000000;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.4s ease-in-out;
}

.slide-menu__header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}

.slide-menu__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* When menu is open */
.slide-menu.open {
    left: 0;
}

/* Menu List */
.menu-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-right: 4rem;
    /* overflow-y: scroll; */
}

.menu-link {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color--secondary);
    margin: 16px 0;
    position: relative;
}

@media (max-width: 414px) {
    .menu-link {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--color--secondary);
        margin: 15px 0;
        position: relative;
    }
}

.menu-link::after {
    content: "";
    display: block;
    width: auto;
    height: 2px;
    background: var(--color--primary);
    margin-top: 5px;
}

/* Disable pointer events on inactive elements */
.inactive {
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}
